// colours
$color-teal: #0f6665; /*to make it validate AA */
$color-teal-darker: darken($color-teal, 10%);
$color-teal-lighter: lighten($color-teal, 10%);
$color-teal-dark: #014b4a;
$color-teal-light: #358c8b;
$color-teal-light-2: #43b1b0;
$color-blue: #71b2d4;
$color-red: #cd3238;
$color-orange: #e9b04d;
$color-green: #189370;
$color-salmon: #f37e77;
$color-salmon-light: #fcf2f2;
$color-white: #fff;
$color-black: #000;

// darker to lighter
$color-grey-1: #333;
$color-grey-1-1: #404040;
$color-grey-2: #666;
$color-grey-3: #d9d9d9;
$color-grey-4: #e6e6e6;
$color-grey-5: #fafafa;

$sequence-bg: #f2f2f2;

.content, #content {
/* need to use .content as #content isn't used on snippets */
  // Help text
  .help {
    width: auto;
    position: static;
    display: block;
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    &:before {
      margin-top: 0;
    }
  }
  p.help { 
    &::before {
      /* to give consistency between multifieldpanel help text and other panels */
      border-radius: 100%;
      display: block;
      float: left;
      content: '?';
      border: 1px solid #666;
      color: #666;
      height: 15px;
      width: 15px;
      line-height: 15px;
      text-align: center;
      font-size: 1.1em;
      margin: 0.1em 0.5em 0 0;
    }
  }
  .help.help {
    opacity: 0.8;
  }
  // Get rid of teal BG on input focus
  input, textarea, select, .richtext, .taggit {
    &:focus {
      background: white;
    }
  }
  .richtext {
    padding: 1em;
    *:last-child {
      margin-bottom: 0;
    }
  }

  .object {
    padding-left: 20px;
    padding-right: 20px;
    &.empty {
      padding-left: 50px;
    }
    > fieldset {
      max-width: none;
      width: 100%;
    }
    > .help + fieldset {
      padding-top: 0;
    }
  }

  .full {
    padding: 0 20px;
    > fieldset {
      margin-left: 0;
      padding-top: 0;
    }
    input {
      padding-left: 7px;
      padding-right: 0;
      background: transparent;
      border: 0;
    }
    > .help + fieldset input {
      padding-top: 20px;
    }
  }

  // Force max-width on some elements
  .sequence-member,
  .sequence-container,
  .sequence-container-inner,
  .fields,
  .field-content {
    width: 100%;
  }

  .field-content > .help.help.help.help.help {
    padding-left: 3px;
    margin-top: 7px;
  }

  // StreamField styling
  .stream-field.stream-field.stream-field.stream-field {
    padding: 20px;
    > fieldset {
      padding-top: 14px;
    }
    // Nested block styles
    .sequence-member {
      background: $sequence-bg;
      border: 1px solid $color-grey-3;
      border-radius: 4px;
      margin: 20px 0;
      .sequence-member-inner {
        background-color: white;
        input, textarea, select, .richtext, .tagit {
          box-sizing: border-box;
          border-radius: 6px;
          width: 100%;
          font-family: Open Sans,Arial,sans-serif;
          border: 1px solid #e6e6e6!important;
          padding: 0.9em 1.2em!important;
          background-color: #fafafa!important;
          -webkit-appearance: none;
          color: #333;
          font-size: 1.2em;
          font-weight: 300;
          outline: none;
          &:focus {
            background-color: white!important;
            border-color: #54d0d0!important;
            }
          }
        }
      .sequence-member {
        background: white;
        .sequence-member {
          background: $sequence-bg;
          .sequence-member {
            background: white;
            .sequence-member {
              background: $sequence-bg;
            }
          }
        }
      }
    }
    .sequence-member-inner {
      padding: 20px;
    }
    .sequence-controls {
      background: $color-grey-4;
      border: none;
      opacity: 1;
      visibility: visible;
      position: static;
      border-radius: 0;
      display: flex;
      justify-content: flex-end;
      label {
        margin-top: 7px;
        color: $color-grey-2;
      }
      button {
        background: transparent;
        border: none;
        &::before {
          color: $color-grey-2;
        }
        &:hover {
          &::before {
            color: $color-teal;
          }
        }
      }
      h3 {
        flex: 1;
      }
    }
    .help {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    // Make (+) buttons only appear when hovering the correct element
    .stream-menu .toggle {
      opacity: 0;
      visibility: hidden;
    }
    .sequence-container,
    .sequence-member {
      &:hover > .stream-menu .toggle {
        opacity: 1;
        visibility: visible;
      }
    }
    // Align first (+) due to new padding
    .sequence-container > .stream-menu .toggle {
      top: 8px;
    }
    // Fields
    .fields {
      label {
        display: block;
        width: auto;
        float: none;
      }
      .field {
        display: block;
        width: auto;
        float: none;
      }
    }
  }
}
.hallotoolbar.hallotoolbar {
  margin-top: 0;
  margin-left: 0;
  &.full {
    margin-left: 15px;
  }
}

// Snippets
/* The help text has slightly different rules on snippet pages */
.object .object-help.help {
  display: block;
  position: relative;
  width: 100%;
}


// Inline panels
.object-help ~ .multiple {
  padding-top: 0!important; 
  /* Needing to use important because .multiple .object is defined afterwards by page-editor.css */
}
.multiple {
  width: 100%;
  > li {
    border-radius: 3px;
    padding: 0;
    > fieldset {
      padding: 0 20px;
    }
  }
  .model_choice_field.select label {
    padding-top: 0.2em;
  }  
  /* Need to make below a mixin */
  .controls {
    background: $color-grey-4;
    border: none;
    opacity: 1;
    visibility: visible;
    position: static;
    border-radius: 0;
    display: flex;
    justify-content: flex-end;
    label {
      margin-top: 7px;
      color: $color-grey-2;
  }
  button {
    background: transparent;
    border: none;
    &::before {
      color: $color-grey-2;
    }
    &:hover {
      &::before {
        color: $color-teal;
        }
      }
    }
  }
}

// Standalone richtext fields
.content .richtext, #content .richtext {
    border-radius: 6px;
    border-width: 1px 1px;
    font-family: Open Sans,Arial,sans-serif;
    margin: 60px 0 20px 0;
    padding: 1.8em 1.2em!important;
    -webkit-appearance: none;
}

.object-help ~ fieldset > .fields > li > .field > .field-content > .input > .richtext {
    margin-top: 0px!important;
  }

// Multi-fields
.multi-field {
  > fieldset {
    > ul {
      > li {
        border-bottom: 1px solid $color-grey-4;
        margin: 0 0 1em 0;
      }
    }
  }
}

// Save footer
footer {
  background: #444;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  ul {
    padding: 0em;
  }
  footer .preview button, footer .preview .button {
    height: 3em;
  }
  .meta {
    background-color: #333;
    display: block;
    float: left;
    font-size: 0.85em;
    height: 2.2em;
    margin: -50px 0 0 -15px;
    padding: 7px 1.5%;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  a[href$="delete/"] {
    background-color: $color-red;
    opacity: 0.8;
    &:hover {
      background-color: darken($color-red, 10%);
      opacity: 1;
    }
  }
  a[href$="unpublish/"] {
    background-color: $color-grey-1-1;
    opacity: 0.8;
      &:hover {
      background-color: $color-grey-1;
      opacity: 1;
    }
  }
}

// WCAG AA validation
/* This should obvs be done by changing the base Wagtail colour palette so that it validates rather than hacking here */
header,
header.merged,
.tab-nav.merged,
.dropdown ul,
input[type=submit],
input[type=reset],
input[type=button],
.button, button,
.page-explorer .listing .index,
.breadcrumb {
  background-color: $color-teal;
}

.button-secondary {
  color: $color-grey-5;
}

.listing .button-secondary {
  color: $color-teal;
  &:hover {
    background-color: $color-teal;
    color: $color-white;
  }
}

.page-explorer .listing .index .privacy-indicator {
  color: $color-white;
}

.page-explorer .listing .index .button.bicolor {
  border: 1px solid $color-teal-light-2;
}

.messages .success {
  background-color: $color-teal-dark;
}

footer {
  > 
  input[type=submit], 
  input[type=reset], 
  input[type=button], 
  .button, button {
  border: 0px;
  }
}

.modal-content {
  > 
  button {
    background-color: #43b1b0;
    &:hover {
      background-color: $color-teal-lighter;
    }
  }
}

a {
  color: $color-teal;
  &:hover {
    color: $color-teal-lighter;
  }
}

// Header
header {
  h1 {
    margin: 0.2em 0 0 0;
  }

  .col1 + .col9 
  > 
  h1 {
    /* for the user homepage */
    margin: -0.2em;
  }

  .listing.full-width td:first-child, 
  .listing.full-width th:first-child {
    padding-left: 1.8em;
  }

  .messages ul li {
    padding: 20px;
  }

  .breadcrumb {
    border-bottom: 1px solid $color-teal-light;
    padding: 10px;
    li {
      margin: -10px -10px -10px 10px;
      padding: 1.5em 1.3em;
      &:first-child {
      margin: -10px;
      padding-left: 40px;
      }
      &:hover {
        background-color: $color-teal-light;
      }
    }
  }

  .button, 
  .button.bicolor {
    border: 1px solid $color-teal-light-2;
  }
}

.listing .handle {
    margin: -28px 0 0 -40px;
  }

// Tabs
.tab-nav li {
    margin-left: 2em;
  &:first-child {
      margin-left: 4em;
  }
}
