// colours
// These variables are from Wagtail core
$color-teal: #43b1b0;
$color-teal-darker: darken($color-teal, 10%);
$color-teal-dark: #246060;
$color-blue: #71b2d4;
$color-red: #cd3238;
$color-orange: #e9b04d;
$color-green: #189370;
$color-salmon: #f37e77;
$color-salmon-light: #fcf2f2;
$color-white: #fff;
$color-black: #000;

// darker to lighter
$color-grey-1: #333;
$color-grey-1-1: #404040;
$color-grey-2: #666;
$color-grey-3: #d9d9d9;
$color-grey-4: #e6e6e6;
$color-grey-5: #fafafa;

$sequence-bg: #f2f2f2;

.content, #content {
/* need to use .content as #content isn't used on snippets */
  // Help text
  .help {
    width: auto;
    position: static;
    display: block;
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    &:before {
      margin-top: 0;
    }
  }
  p.help { 
    &::before {
      /* to give consistency between multifieldpanel help text and other panels */
      border-radius: 100%;
      display: block;
      float: left;
      content: '?';
      border: 1px solid #666;
      color: #666;
      height: 15px;
      width: 15px;
      line-height: 15px;
      text-align: center;
      font-size: 1.1em;
      margin: 0.1em 0.5em 0 0;
    }
  }
  .help.help {
    opacity: 0.8;
  }
  // Get rid of teal BG on input focus
  input, textarea, select, .richtext, .taggit {
    &:focus {
      background: white;
    }
  }
  .richtext {
    padding: 1em;
    *:last-child {
      margin-bottom: 0;
    }
  }

  .object {
    padding-left: 20px;
    padding-right: 20px;
    &.empty {
      padding-left: 50px;
    }
    > fieldset {
      max-width: none;
      width: 100%;
    }
    > .help + fieldset {
      padding-top: 0;
    }
  }

  .full {
    padding: 0 20px;
    > fieldset {
      margin-left: 0;
      padding-top: 0;
    }
    input {
      padding-left: 7px;
      padding-right: 0;
      background: transparent;
      border: 0;
    }
    > .help + fieldset input {
      padding-top: 20px;
    }
  }

  // Force max-width on some elements
  .sequence-member,
  .sequence-container,
  .sequence-container-inner,
  .fields,
  .field-content {
    width: 100%;
  }

  .field-content > .help.help.help.help.help {
    padding-left: 3px;
    margin-top: 7px;
  }

  // StreamField styling
  .stream-field.stream-field.stream-field.stream-field {
    padding: 20px 20px 20px 10px;
    > fieldset {
      padding-top: 14px;
    }
    // Nested block styles
    .sequence-member {
      // background: $color-salmon-light;
      border: 1px solid $color-salmon-light;
      border-radius: 4px;
      margin: 20px 0;
      .sequence-member-inner {
        background-color: white;
        input, textarea, select, .richtext, .tagit {
          box-sizing: border-box;
          border-radius: 6px;
          width: 100%;
          font-family: Open Sans,Arial,sans-serif;
          border: 1px solid #e6e6e6!important;
          padding: 0.9em 1.2em!important;
          background-color: #fafafa!important;
          -webkit-appearance: none;
          color: #333;
          font-size: 1.2em;
          font-weight: 300;
          outline: none;
          &:focus {
            background-color: white!important;
            border-color: #54d0d0!important;
            }
          }
        }
      .sequence-member {
        background: white;
        .sequence-member {
          background: $sequence-bg;
          .sequence-member {
            background: white;
            .sequence-member {
              background: $sequence-bg;
            }
          }
        }
      }
      &.collapsed {
        .sequence-member-inner {
          display: none;
        }
      }
    }
    .sequence-member-inner {
      padding: 20px;
    }
    .sequence-controls {
      background: $color-salmon-light;
      border-radius: 0;
      border: none;
      display: flex;
      height: 44px;
      justify-content: flex-end;
      opacity: 1;
      position: static;
      visibility: visible;
      label {
        margin-top: 14px;
        color: $color-grey-1;
        span {
          color: $color-grey-2;
        }
      }
      button {
        background: transparent;
        border: none;
        height: 44px;
        width: 44px;
        &::before {
          color: $color-grey-1;
        }
        &:hover {
          background: $color-salmon;
          &::before {
            color: $color-white;
          }
        }
        &.collapse {
          background-color: $color-salmon;
          border-radius: 0;
          margin-left: -13px;
          margin-right: 14px;
          &::before {
            color: $color-white;
          }
        }
      }
      h3 {
        flex: 1;
      }
    }
    .help {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    // Make (+) buttons only appear when hovering the correct element
    .stream-menu .toggle {
      opacity: 0;
      visibility: hidden;
    }
    .sequence-container,
    .sequence-member {
      &:hover > .stream-menu .toggle {
        opacity: 1;
        visibility: visible;
      }
    }
    // Align first (+) due to new padding
    .sequence-container > .stream-menu .toggle {
      top: 8px;
    }
    // Fields
    .fields {
      label {
        display: block;
        width: auto;
        float: none;
      }
      .field {
        display: block;
        width: auto;
        float: none;
      }
    }
  }
}
.hallotoolbar.hallotoolbar {
  margin-top: 0;
  margin-left: 0;
  &.full {
    margin-left: 15px;
  }
}

// Snippets
/* The help text has slightly different rules on snippet pages */
.object .object-help.help {
  display: block;
  position: relative;
  width: 100%;
}


// Inline panels
.object-help ~ .multiple {
  padding-top: 0!important; 
  /* Needing to use important because .multiple .object is defined afterwards by page-editor.css */
}
.multiple {
  width: 100%;
  > li {
    border-radius: 3px;
    padding: 0;
    > fieldset {
      padding: 0 20px;
    }
  }
  .model_choice_field.select label {
    padding-top: 0.2em;
  }  
  /* Need to make below a mixin */
  .controls {
    background: $color-grey-4;
    border: none;
    opacity: 1;
    visibility: visible;
    position: static;
    border-radius: 0;
    display: flex;
    justify-content: flex-end;
    label {
      margin-top: 7px;
      color: $color-grey-2;
  }
  button {
    background: transparent;
    border: none;
    &::before {
      color: $color-grey-2;
    }
    &:hover {
      &::before {
        color: $color-teal;
        }
      }
    }
  }
}

// Standalone richtext fields
.content .richtext.expanded, #content .richtext.expanded {
    border-radius: 6px;
    border-width: 1px 1px;
    font-family: Open Sans,Arial,sans-serif;
    margin: 60px 0 20px 0;
    padding: 1.8em 1.2em!important;
    -webkit-appearance: none;
}

.object-help ~ fieldset > .fields > li > .field > .field-content > .input > .richtext {
    margin-top: 0px!important;
  }

// Multi-fields
.multi-field {
  > fieldset {
    > ul {
      > li {
        border-bottom: 1px solid $color-grey-4;
        margin: 0 0 1em 0;
      }
    }
  }
}

.delete-dialog {
    background-color: $color-salmon;
    display: block;
    margin-top: -56px;
    margin-right: 0;
    padding: 8px 12px;
    text-align: right;
  a {
    color: $color-white;
    display: block;
  }
}
